---
    headerColor: w3-gray
---
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="js/classes.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <h1 class="{{ page.headerColor }} w3-center">Idle'n Loot</h1>
        
        <div class="w3-col m4 l3">
            <div class="w3-card-4 w3-margin">
                {% include character.html %}
            </div> 
            <div class="w3-card-4 w3-margin">
                {% include region.html %}
            </div>
        </div>
        <div class="w3-col m8 l9">
            <div class="w3-margin">
                <div class="w3-bar w3-blue">
                    <a id="stats-menu-item" class="w3-bar-item w3-button menu-tab" data-tab="stats-tab">Stats</a>
                    <a class="w3-bar-item w3-button menu-tab" data-tab="skills-tab">Skills</a>
                    <a class="w3-bar-item w3-button menu-tab" data-tab="talents-tab">Talents</a>
                    <a class="w3-bar-item w3-button menu-tab" data-tab="combat-tab">Combat</a>
                    <a class="w3-bar-item w3-button menu-tab" data-tab="world-tab">World</a>
                </div>
                <div class="w3-card-4">
                    <div id="stats-tab" class="w3-container w3-padding menu-tab-container">
                        {% include stats.html %}
                    </div>
                    <div id="skills-tab" class="w3-container menu-tab-container">
                        {% include skills.html %}
                    </div>
                    <div id="talents-tab" class="w3-container menu-tab-container">
                        {% include talents.html %}
                    </div>
                    <div id="combat-tab" class="w3-container menu-tab-container">
                        {% include combat.html %}
                    </div>
                    <div id="world-tab" class="w3-container menu-tab-container">
                        {% include world.html %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
