<div class="w3-card-4 w3-col m6 l6">
    <header class="w3-container w3-blue">
        <h4 class="w3-center">Base Attributes</h4>
    </header>
    <div class="w3-container w3-padding">
        <table class="w3-table w3-bordered">
            <tr>
                <td class="w3-right-align">Strength:</td>
                <td class="player-stats-show" data-selector="strength"></td>
            </tr>
            <tr>
                <td class="w3-right-align">Agility:</td>
                <td class="player-stats-show" data-selector="agility"></td>
            </tr>
            <tr>
                <td class="w3-right-align">Stamina:</td>
                <td class="player-stats-show" data-selector="stamina"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> 