<div class="w3-card-4 w3-col m6 l6">
    <header class="w3-container w3-blue">
        <h4 class="w3-center">Base Attributes</h4>
    </header>
    <div class="w3-container w3-padding">
        <template class="player-stats-template">
            <tr>
                <td class="w3-right-align player-stats-label"></td>
                <td class="player-stats-show" data-selector=""></td>
            </tr>
        </template>
        <table id="baseAttributes" class="w3-table w3-bordered">

        </table>
    </div>
</div> 